body {
    margin: 0;

}

a {
    text-decoration: none;
}

.uploadFile {
    width: 100px;
    height: 35px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: rgb(8, 185, 8);
}